 h1 {
   font-size: larger;
   font-weight: 600;

 }

 input {
   width: 40%;
 }

 .content {
   display: flex;
   flex-direction: column;
   gap: 15px;
 }

 .col {
   padding-right: 10px;
   margin-left: 40px;
 }